@model CreateRoleViewModel

@{
    ViewBag.Title = "Sukurti role";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/homepage.css" />
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Sukurti naują rolę.</h4>
                </header>
                <article class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <input asp-for="RoleName" class="form-control" placeholder="Nauja rolė" required>
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div> <!-- form-group end.// -->
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Sukurti  </button>
                        </div> <!-- form-group// -->
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </form>
                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div> <!-- row.//-->
    <!--container end.//-->
</body>
</html>
